:root {
  --text: #384252;
  --background: #f0f4f9;
  --primary: #cdd4db;
  --secondary: #ffffff;
  --accent: #384252;
}

body {
  font-family: Arial, sans-serif;
  color: var(--text);
  background-color: var(--background);
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--primary);
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: var(--accent);
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 20px;
}

footer {
  background-color: var(--primary);
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
